@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./modules/_profil.sass"
@import "./modules/_formulaire.sass"                      
@import './modules/_navbar.sass'


body
    font-family: 'Work Sans', sans-serif 


    div
        .row
            .col-6
                padding: 0
                img
                    
                    
                    width: 100%
            .pr
                padding: 0
                .p-3
                    p
                        #span2
                              background-color:   #943A9A  
                              font-family: 'Pinyon Script', cursive
                              font-size: 20px  

                .present
                    p
                        color: #943A9A
                        line-height: 1.8
                        

                  

                    
                    width: 100%
                    height: 100%   
#span1
    background-color:   #943A9A  
    font-family: 'Pinyon Script', cursive
    font-size: 20px  

footer
    background-color: #77358F
    padding: 0
    
    .row
        #mauvee
            background-color: white

        .liste

        .u
            
                    

button
    outline: none


.img-back
    background-image: url("../../../gif/giphy.gif")
    background-size: cover
    height: 80vh
    width: 100%
    background-position: center
#navcolor
    // opacity: 10%
    background: #c28cd8cc
    z-index: 1000
    
    
.btn-12
  position: relative
  right: 20px
  bottom: 20px
  border: none
  width: 130px
  height: 40px
  line-height: 40px
  -webkit-perspective: 230px
  perspective: 230px

  span
    display: block
    position: absolute
    width: 130px
    height: 40px
    border: 2px solid #000
    margin: 0
    text-align: center
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    -webkit-transition: all .3s
    transition: all .3s

    &:nth-child(1)
      box-shadow: -7px -7px 20px 0px #7906fdc4, -4px -4px 5px 0px #2a08ece8, 7px 7px 20px 0px #0eee0ec7, 4px 4px 5px 0px #7906fdc4
      -webkit-transform: rotateX(90deg)
      -moz-transform: rotateX(90deg)
      transform: rotateX(90deg)
      -webkit-transform-origin: 50% 50% -20px
      -moz-transform-origin: 50% 50% -20px
      transform-origin: 50% 50% -20px

    &:nth-child(2)
      -webkit-transform: rotateX(0deg)
      -moz-transform: rotateX(0deg)
      transform: rotateX(0deg)
      -webkit-transform-origin: 50% 50% -20px
      -moz-transform-origin: 50% 50% -20px
      transform-origin: 50% 50% -20px

  &:hover span
    &:nth-child(1)
      -webkit-transform: rotateX(0deg)
      -moz-transform: rotateX(0deg)
      transform: rotateX(0deg)

    &:nth-child(2)
      background: #b209b8
      color: #7906fdc4
      -webkit-transform: rotateX(-90deg)
      -moz-transform: rotateX(-90deg)
      transform: rotateX(-90deg)

.collapse
    ul
        li
            margin: 0 20px      
